{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Main CSS -->
<link href= "{% static 'main.css' %}" rel="stylesheet"/>
<!--------------------------------------
FOOTER
--------------------------------------->
<div class="container mt-5">
	<footer class="bg-white border-top p-3 text-muted small">
	<div class="row align-items-center justify-content-between">
		<div>
            <span class="navbar-brand mr-2"><strong>MeniGuard</strong></span> Copyright &copy;
			<script>document.write(new Date().getFullYear())</script>
			 . All rights reserved.
		</div>
		<div>
			Leonie Dragun - Politecnico di Milano
		</div>
	</div>
	</footer>
</div>
<!-- End Footer -->